.App {
    margin: 0 auto;
    text-align: center;
}
.myInput {
    margin-top: 10px;
}
.postList {
    margin: 0 auto;
}
.post {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    border: 2px solid teal;
    margin: 10px auto 0 auto;
    padding: 5px 10px;
}
.pages-numbers {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pages-numbers__btn {
    margin: 0 3px;
    padding: 3px !important;
}
.pages-numbers__btn_current {
    border-color: orange !important;
}
.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px teal dotted;
    animation: rotate 3s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg) scale(1.0);
    }
    to {
        transform: rotate(360deg) scale(1.4);
    }
}